.navbar-inverse {
    /*background-color: #56CCF2;*/
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 0%);
    border-color: #eeeeee;
    color: white;
    margin: auto;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    height: 100vh;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-size: cover;
    font-family: sans-serif;
    color: white;
}


.nav-anchor {
    font-family: sans-serif;
    color: white;
}

a:link {
    color: #fff;
  

}
/* visited link */
a:visited {
    color: #808080;
}
/* mouse over link */
a:hover {
    color: #0026ff;
    
}
/* active link */
a:active {
    color: #0094ff;
}


.navbar li a {
    display: block;
    padding: 0 28px;
    color: #ffff;
    text-decoration: none;
}


    .navbar li a:hover {
        background-color: #156ee2;
        color: red
    }


@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

        .navbar-expand-lg .navbar-nav {
            flex-direction: row;
        }

            .navbar-expand-lg .navbar-nav .dropdown-menu {
                position: absolute;
            }

            .navbar-expand-lg .navbar-nav .nav-link {
                padding-right: var(--bs-navbar-nav-link-padding-x);
                padding-left: var(--bs-navbar-nav-link-padding-x);
            }

        .navbar-expand-lg .navbar-nav-scroll {
            overflow: visible;
        }

        .navbar-expand-lg .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-expand-lg .navbar-toggler {
            display: none;
        }

        .navbar-expand-lg .offcanvas {
            position: static;
            z-index: auto;
            flex-grow: 1;
            width: auto !important;
            height: auto !important;
            visibility: visible !important;
            background-color: transparent !important;
            border: 0 !important;
            transform: none !important;
            transition: none;
        }

            .navbar-expand-lg .offcanvas .offcanvas-header {
                display: none;
            }

            .navbar-expand-lg .offcanvas .offcanvas-body {
                display: flex;
                flex-grow: 0;
                padding: 0;
                overflow-y: visible;
            }
}