* {
    margin: 0 auto;
    padding: 0 auto;
    
    font-family: 'Poppins', sans-serif;
    
}


body {
    background: linear-gradient(45deg,#FC354C, #0ABFBC);
    background-size: cover;
    height: 100vh;
}

.content {
    width: 330px;
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
    margin-top: 100px;
    box-sizing: border-box;
    background-position: center;
    box-shadow: -3px -3px 9px #aaa9a9a2, 3px 3px 7px rgba(147, 149, 151, 0.671);
}

    .content .text {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 35px;
        color: rgb(247, 233, 233);
    }
    .content .field {
        height: 50px;
        width: 100%;
        display: flex;
        position: relative;
    }

.field input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #e0d2d2;
    border: 1px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
}

    .field input::placeholder {
        color: #e0d2d2a6;
    }

.field:nth-child(2) {
    margin-top: 20px;
}

.field span {
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: #ffffff;
}

.newbutton {
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    color: rgb(238, 226, 226);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
    margin-top: 40px;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}

.content input[type="submit"]:hover {
    background: linear-gradient(45deg,#0ABFBC, #FC354C);
}



@media (max-width:400px) {
    .content {
        width: 260px;
    }

    .text {
        font-size: 20px;
    }

    .content .field {
        height: 40px;
    }

    .field input {
        font-size: 16px;
    }

    .field span {
        position: absolute;
        width: 40px;
        line-height: 40px;
    }

    button {
        height: 40px;
        font-size: 17px;
    }
}