@model WebApplication3.ViewModelEmployeefinal.Employeefinal

@{
    ViewBag.Title = "CompleteDetails";
}

<h2>CompleteDetails</h2>
<h3>Name: @Model.employeeb.name</h3>
<h4>Age: @Model.employeeb.age</h4>
<h5>Department: @Model.employeeb.department</h5>





