
@{
    Layout = null;
}
@RenderBody()
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>layout2</title>
</head>
<body>
    <div>
        @Html.Partial("PartialView")
    </div>
    <div>
        <footer>This is layout2</footer>

    </div>
</body>
</html>
